<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd'_'HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- roll daily + compress archived -->
            <fileNamePattern>logs/mashona_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <!-- http://logback.qos.ch/manual/layouts.html -->
            <pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} %M:%L %msg%n</pattern>
            <pattern>%msg</pattern>
        </encoder>
        <immediateFlush>false</immediateFlush>
    </appender>

    <!-- valid levels are TRACE, DEBUG, INFO, WARN, ERROR, ALL or OFF -->
    <!-- The effective level for a given logger L,
      is equal to the first non-null level in its hierarchy,
      starting at L itself and proceeding upwards in the
      hierarchy towards the root logger.  -->
    <!-- filtering is on level per rule above, THEN sent to appender hierarchy.
             i.e. the point in the hierarchy where appenders attach does not matter.
      appenders are cumulative - use additivity="false" on the logger
      to suppress appender hierarchy use -->

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.redhat.mashona" level="OFF"/>

    <logger name="com.redhat.mashona.logwriting.ExecutionTracer" level="INFO"/>

</configuration>

